@media only screen and (max-width: 768px) {
  .box {
    border-radius: 10px;
    background-color: #c1f7d5;
    width: 100%
  }
  .logo-width{
    width: 35%;
  }
}
@media only screen and (min-width: 768px) {
  .box {
    border-radius: 10px;
    background-color: #c1f7d5;
    width: 90%
  }
  .logo-width{
    width: 25%;
  }
}
@media only screen and (min-width: 992px) {
  .box {
    border-radius: 10px;
    background-color: #c1f7d5;
    width: 70%
  }
  .logo-width{
    width: 20%;
  }
}



.textColor {
  color: #086135;
}

// .box {
//   background-color: #c1f7d5;
//   width: 50%
// }

.buttons {
  color: #045933;
}

.borderColor {
  border-color: #045933;
}


.wrap-center {
  position: absolute;
     top: 50%;
     height: 400px;
     margin-top: -200px; /* Half of the height */
     left: 50%;
     width:800px;
     margin-left: -400px; /* Half of the width */
     padding:10px;
}

.child-center {
  position: relative;
  top: 10%;
  left: 25%;
}

.image {
  position: relative;
  max-width: 25%;
  height: auto;
}


